.page-content {
    margin-top: 75px;
}


.operation_block {
    text-align: center;
}

.operation_block table.operation_block_table thead tr th {
    background-color: #dfd;
}

/* reduce padding of outer table */
.operation_block table.operation_block_table tbody tr td {
    padding: 3px;
}

/* make sure it doesn't apply to inner table *sigh* */
.operation_block table.operation_compute_table tbody tr td {
    padding: inherit;
}


.operator_tag {
    float: left;
}

.operator_tag {
    float: left;
    margin-top: 5px;  /* try to place it in the corner */
}

.operator_tag_counterweight {
    float: right;
}

.operator_tag_counterweight .label-warning {
    background-color: #fff;
}


.operation_name {
    text-align: center;
}

.operation_compute_table {
    margin-left: auto;
    margin-right: auto;
}

.operation_bar {
    margin: 1px;
    border-bottom: 1px #666 solid;
}

.operator_symbol {
    font-size: 90%;
    vertical-align: 2px;
    padding-right: 5px;
}

.operand_target {
    color: blue;
}

.bitvector {
    letter-spacing: 2px;
}

.hexvalue {
    padding-left: 3px;
    font-size: 90%;
    color: #666;
}

.digit_different {
    color: red;
}

.operation_mnemonic {
    padding-top: 5px;
    font-style: italic;
    color: #666;
}
