.page-content {
    margin-top: 75px;
}

.operation_block {
    text-align: center;
}

.operation_name {
    text-align: center;
}

.operation_compute_table {
    margin-left: auto;
    margin-right: auto;
}

.operation_bar {
    margin: 1px;
    border-bottom: 1px #666 solid;
}

.operation_name_prefix {
    padding-right: 3px;
    font-size: 90%;
}

.operand_target {
    color: blue;
}

.bitvector {
    letter-spacing: 2px;
}

.digit_different {
    color: red;
}

.operation_mnemonic {
    padding-top: 5px;
    font-style: italic;
    color: #666;
}
