<!DOCTYPE html>
<html lang="en" ng-app="bithacksApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bitwise operators</title>

    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
  </head>
  <body ng-controller="BitHacksController">


    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
<!--          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="#">bitwise operators</a>
        </div>
<!--        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div> -->
      </div>
    </nav>


    <div class="container page-content">

        <!-- filtering ui -->
        <div class="filter_block">
            <h4>Mnemonics</h4>
            <ul class="list-unstyled" ng-repeat='mnemonic in mnemonics'>
                <li class="col-md-4">
                    <a ng-click="applyFilter(mnemonic)">{{ mnemonic }}</a>
                </li>
            </ul>
        </div>


        <!-- content display -->
        <div class="operator_block" ng-repeat='opset in operation_sets'>
            <h3>{{ opset.operatorName | uppercase }}</h3>

            <div class="row">
                <div class="operation_block col-md-4" ng-repeat="op in opset.operations">
                    <table class="table table-bordered operation_block_table">
                        <thead>
                            <tr>
                                <th class="operation_name">
                                    <span ng-bind-html='op.name'/>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>

                                    <!-- compute table -->
                                    <table class='operation_compute_table'>
                                        <tr>
                                            <td>
                                                <span class='operator_symbol' ng-bind-html='op.operatorSymbolUnary'/>
                                            </td>
                                            <td class="operand_source">
                                                <span class="bitvector" ng-bind-html='op.bitvectorSourceAsString'/>
                                            </td>
                                            <td>
                                                <span class="hexvalue" ng-bind-html='op.bitvectorSourceAsHex'/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class='operator_symbol' ng-bind-html='op.operatorSymbolBinary'/>
                                            </td>
                                            <td class="operand_target">
                                                <span class="bitvector" ng-bind-html='op.bitvectorTargetAsString'/>
                                            </td>
                                            <td>
                                                <span class="hexvalue" ng-bind-html='op.bitvectorTargetAsHex'/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="operation_bar"></td>
                                            <td class="operation_bar"></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td class="operation_result">
                                                <span class="bitvector" ng-bind-html='op.bitvectorResultAsString'/>
                                            </td>
                                            <td>
                                                <span class="hexvalue" ng-bind-html='op.bitvectorResultAsHex'/>
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- /compute table -->

                                    <div class="operator_tag">
                                        <span class="label {{ op.labelName }}" ng-bind-html='op.operatorName | uppercase'/>
                                    </div>
                                    <!-- only for layout, not supposed to be visible -->
                                    <div class="operator_tag_counterweight">
                                        <span class="label label-warning" ng-bind-html='op.operatorName | uppercase'/>
                                    </div>

                                    <div class="operation_mnemonic">
                                        "<span ng-bind-html='op.mnemonic'/>
                                    </div>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-sanitize.min.js"></script>
    <script src="vendor/jquery/js/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/underscore/underscore-min.js"></script>

    <script src="js/bit_routines.js"></script>
    <script src="js/bithack_collection.js"></script>
    <script src="js/data_definitions.js"></script>
    <script src="js/controllers.js"></script>
  </body>
</html>
